.carousel {
  margin-bottom: 20px;
}

.carousel .item {
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.item .img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}