.h1 {
  color: #fff;
  padding-left: 0;
}
.nav {
  position: fixed;
  height: 60px;
  left: 0;
  top: 0;
  right: 0;
  background: darkblue;
  display: flex;
  align-items: center;

}
.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 100px;
}
.main {
  margin-top: 60px;
  padding: 1rm;
}

.image {
  background-color: #fff;
  padding-right: 0;
}